@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.phstr-app-dark, .phstr-app-dark *));

:root {
	font-size: 14px;
	--body-bg: var(--p-surface-50);
	--card-bg: var(--p-surface-0);
	--card-border: var(--p-surface-200);
}

:root[class="phstr-app-dark"] {
	--body-bg: var(--p-surface-950);
	--card-bg: var(--p-surface-900);
	--card-border: var(--p-surface-700);
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	background-color: var(--body-bg);
}

.my-card {
	background-color: var(--card-bg);
	/* padding: 2rem; */
	border: 1px solid var(--card-border);
	/* border-radius: 12px; */
}

/* Page containers*/
#app {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

#navbar {
	display: flex;
	flex: 0;
}

#home,
#contact,
#not_found {
	flex: 1;
	border-radius: var(--p-border-radius-md);

	user-select: none; /* Standard */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
}
/* Fonts */
.open-sans-regular {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

*:focus-visible {
	outline: none !important;
}
