@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.phastr-app-dark, .phastr-app-dark *));

@layer base {
	:root {
		font-size: 14px;
		font-family: "Roboto", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: "wdth" 100;

		--body-bg: var(--p-surface-50);
		--gradient-start: var(--p-primary-700);
		--gradient-end: var(--p-primary-500);
	}

	:root[class="phastr-app-dark"] {
		--body-bg: var(--p-surface-950);
		--gradient-start: var(--p-primary-300);
		--gradient-end: var(--p-primary-100);
	}

	html,
	body {
		height: 100%;
	}

	body {
		background-color: var(--body-bg);
	}

	*:focus-visible {
		outline: none !important;
	}
}

@layer primevue-overrides {
	.p-button,
	.p-menubar,
	.p-card,
	.p-inputtext,
	.p-datepicker-dropdown,
	.p-menu,
	.p-dialog,
	.p-toast,
	.p-galleria,
	.p-menubar .p-menubar-item-link,
	.p-menubar .p-menubar-item-content,
	.p-menubar-mobile .p-menubar-root-list,
	.p-menu .p-menu-item-content {
		border-radius: 0 !important;
	}
}

@layer layout {
	#app {
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		padding: 0.75rem;
	}

	#navbar,
	#footer {
		display: flex;
		flex: 0;
	}

	[id$="home"],
	[id$="about"],
	[id$="booking"],
	[id$="gallery"],
	[id$="contact"],
	[id$="not_found"] {
		display: flex;
		flex: 1;
	}
}

@layer components {
	.container-1 {
		@variant dark {
			border: 1px solid var(--p-menubar-border-color);
		}
	}
	.phastr-card {
		display: flex;
		background: var(--p-card-background);
		color: var(--p-card-color);
		border-radius: 0;
		box-shadow: var(--p-card-shadow);
		padding: var(--p-card-body-padding);
		/* gap: 2rem; */
	}
}
